.ghost-copy-section {
  position: relative;
  width: 100%;
  max-width: 360px;
  margin: 40px auto;
  padding: 0 0px;
  text-align: center;
}

.booGIF {
  position: absolute;
  top: -190px;
  right: 50px;
  width: 160px;
  z-index: 3;
}

.telePlane {
  position: absolute;
  top: 108px;
  right: 182px;
  width: 35px;
  z-index: 3;
}

.floating-ghost {
  position: absolute;
  top: -130px;
  right: 185px;
  width: 115px;
  animation: float 3s ease-in-out infinite;
  z-index: 2;
}

@keyframes float {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}