.header-container {
  width: 100%;
  background-color: #1e1e1e;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.npt-logo {
  width: 250px;
  margin-bottom: 30px;
}

.npt-tagline {
  width: 95%;
  max-width: 300px;
}