.NPTIcon1 {
  display: absolute;
  align-items: center;
  padding: 0;
  gap: 0;
  width: 95vw;
}

.NPTIcon2 {
  width: 5%;
  max-width: 25px;
  display: block;
  margin: 3px auto;
  cursor: pointer;
}