.polygonIcon1 {
  display: absolute;
  align-items: center;
  padding: 0;
  gap: 0;
  width: 95vw;
  padding-right: 5px;
}

.polygonIcon2 {
  width: 27px;
  max-width: 27px;
  display: block;
  margin: 12px auto;
  cursor: pointer;
}