.roadmap-section {
  background-color: #1e1e1e;
  padding: 24px 0;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.roadmap-inner-wrapper {
  width: 95vw;
  max-width: 360px;
}

.roadmap-inner {
  position: relative;
  width: 100%;
}

.roadmap-img {
  width: 100%;
  display: block;
  z-index: 1;
}

.ghost-map {
  position: absolute;
  overflow-x: hidden;
  left: -68px;
  bottom: 355px;
  width: 95px;
  z-index: 0;
  pointer-events: none;
  animation: float 4s ease-in-out infinite;
}