.mission-wrapper {
  position: relative;
  overflow: hidden;
  justify-content: center;
  padding: 60px 0;
  background-color: #1e1e1e;
}

.mission-img {
  width: 95vw;
  max-width: 340px;
}

.mission-inner {
  position: relative;
}

.ghost-coin {
  position: absolute;
  bottom: -100px;
  right: 35px;
  width: 100px;
  animation: float 3s ease-in-out infinite;
}

.polygon-lg {
  position: absolute;
  bottom: -60px;
  right: 206px;
  width: 100px;
}
