* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  max-width: 420px; /* You can increase if needed */
  margin: 0 auto;
  padding: 0 10px;
}

body {
  min-width: 360px;
  font-family: 'Poppins', sans-serif;
  background-color: #1e1e1e;
  color: #ffffff;
  text-align: center;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 20px;
}

button, img {
  max-width: 100%;
  height: auto;
}

section {
  margin-bottom: 40px;
}

.section-spacing {
  margin-top: 300px;
  margin-bottom: 300px;
}

.UserNPT-spacing {
  margin-top: 0;
  margin-bottom: 10px;
}

.buttons-spacing {
  margin-top: 0;
  margin-bottom: 100px;
}

.FinalMessage-spacing {
  margin-top: 300px;
  margin-bottom: 25px;
}

.JPButton-spacing {
  margin-top: -340px;
  margin-bottom: 50px;
}

.TheMission-spacing {
  margin-top: 400px;
  margin-bottom: 400px;
}

.GhostCopy-spacing {
  margin-top: 400px;
  margin-bottom: 450px;
}

.floating {
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}